

<h1>
    Add Company Form
</h1>
<br>
<p>
    <mat-form-field appearance="outline" >
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="name" required=true type="text">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" required=true type="email">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" required=true type="password">
    </mat-form-field>
  </p>
  
      <div>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [mat-dialog-close]="true"  (click)="addCompany()" cdkFocusInitial>add</button>
    </mat-dialog-actions>
  </div>
  
