<h1>
    Update Customer Form
</h1>
<br>
<p>
    <mat-form-field appearance="outline" >
      <mat-label>Firstname</mat-label>
      <input matInput [(ngModel)]="firstname" required=true type="text">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" >
      <mat-label>Lastname</mat-label>
      <input matInput [(ngModel)]="lastname" required=true type="text">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" required=true type="email">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" required=true type="password">
    </mat-form-field>
  </p>
  <p>
      
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [mat-dialog-close]="true"  (click)="updateCustomer()" cdkFocusInitial>add</button>
    </mat-dialog-actions>

  </p>
